{{partial 'head'}}
{{#if showDashboard }}
{{/if}} 
<script>
   $(document).ready(function() {
       // Show or hide the sticky footer button
       $(window).scroll(function() {
           if ($(this).scrollTop() > 200) {
               $('.go-top').fadeIn(200);
           } else {
               $('.go-top').fadeOut(200);
           }
       });
       // Animate the scroll to top
       $('.go-top').click(function(event) {
           event.preventDefault();
           $('html, body').animate({
               scrollTop: 0
           }, 300);
       }); 
   });
</script>
<div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" {{action "closeNav"}}>&times;</a>
   <a >Home</a>
   <a {{action "goTonewrequest"}}>User</a>
   <a {{action "goToloan"}}>Bank</a>
   <a {{action "goToproperty"}}>Creditscoregenerator</a>
   <a {{action "goToemployment"}}>Legalperson</a>
</div>
<div class="container-fluid" style="background-color:lightgrey">
    <br>
        <br>
      <div class="jumbotron" style="margin-top:-3cm">
    <br>
   <h1><b style="margin-left:-28cm">Bank Dashboard</b></h1>
   <br>
   <br>
 
      <p style="text-align:center;color:black"><b>TOTAL REQUEST</b></p>
      <br>
      <div class="container" style="background-color:grey"><b>ALL Request</b></div>
      <br>
      <div class ="container">
         {{!-- {{#each showrecords   as |item|}} --}}
         <div class="row">
           <div class="col-xs-3 col-lg-3 col-sm-3">Request id<a href="" {{action 'userdetails'  record }}><b style="color:blue">{{record.Key}}</b></a></div>
            {{!-- {{#each item.Record.transactionlist   as |item1|}} --}}
           <div class="col-xs-9 col-lg-9 col-sm-9"   style="">
               <div class="row">
                  <div class="col-xs-3 col-lg-3 col-sm-3">
                     <div class="vl5">Name:{{details.fname}}</div>
                  </div>
                  <div class="col-xs-3 col-lg-3 col-sm-3">
                     <div class="vl5" >PropertyType:{{details.propertyType}}</div>
                  </div>
                  <div class="col-xs-3 col-lg-3 col-sm-3">
                     <div class="vl5" style="margin-left:1cm ">CompanyName:{{details.Company}}</div>
                  </div>
                  </div>
                  </div> 
            {{!-- {{/each}} --}}
            <br>
            <div class="row">
                <br>
           <div class="" style="margin-left: 8cm">
                     <div  style="margin-left:;color:DeepSkyBlue;">Status:{{details.statuspreclose}}</div>
                  </div>
            </div>
         {{!-- {{/each}} --}}
      </div>
      <br>
      
          </div>
   </div>

<div>
    
        <h3>Time Stamp</h3>
             <div class="row">
           <b> User Requested Time</b>
            </div>
          <div class="row">
            <div class="col-xs-6 col-lg-6 col-sm-6">
            Date:{{date}}
            </div>
             <div class="col-xs-6 col-lg-6 col-sm-6">
            Time{{time}}
            </div>
        
        </div>
      </div>
      <br>
      </div>
<a href="#" class="go-top">Scroll to Top</a>
