
{{partial 'head'}}
{{#if showhome}}
<script>
   $(document).ready(function() {
       // Show or hide the sticky footer button
       $(window).scroll(function() {
           if ($(this).scrollTop() > 200) {
               $('.go-top').fadeIn(200);
           } else {
               $('.go-top').fadeOut(200);
           }
       });
       // Animate the scroll to top
       $('.go-top').click(function(event) {
           event.preventDefault();
           $('html, body').animate({
               scrollTop: 0
           }, 300);
       });
      
   });
</script>
<div id="historyheader">
   <div id="cont-lock" style="text-align:left ;color:white ">
      <h1><b>Bank Dashboard</b></h1>
   </div>
</div>
<div class="dashbord-container">
   <br/>
   <p style="text-align:center;color:#808080 "><b>Total Request</b></p>
      <p class="head-request"><b>ALL Request</b></p>
   <div class="dash-container" >
      <div class="dash-label">
         <p >Get All Request here </p>
      </div>
      <div>
         {{!-- <button  style="text-align:center;margin:67px 0px;color:black" {{action 'toggle'}}>GetRequests</button> --}}
         </div>
        <div class="AllDetails">
         {{#each id as |item|}}
         <ul>
             <div style="background:lightgrey">
            {{!-- reqid<b style="color:#2d8cff ">{{ item.requestid}}</b> --}}
            Req ID<a href="" {{action "requestid" item}} ><b style="color:#2d8cff ">{{ item.requestid}}<br></b></a>
            <div class="vl">{{ item.name}}</div> 
            <div class="vl2 ">{{ item.purposeOfloan}}</div>
            <div class="vl3 ">{{ item.needAmt}}</div>
            <div class="vl4">{{ item.Status}}</div><br>
            </div>
            </ul>
            {{/each}}
            
              {{#if isShowingModel}}<br>
              <style>
             table, th, td {
            border: 1px solid grey;
            border-width: thin;
             }
           </style>
              <table style="border:0">
              <tr>
              <th>Request ID</th>
              <th>Name</th>
              <th>puropse of loan </th>
              <th>Need Amount </th>
              <th> Status </th>  
              <th>creditscore</th>
              </tr>
              <tr>
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                  <td>{{purposeOfloan}}</td>
                  <td>{{needAmt}}</td>
                  <td>{{Status}}</td>
                  <td>{{creditscore}}</td>
                  </tr>
              </table>
           {{/if}}  
           <div>
            <button class="btn" {{action "requestid" }}>Get creditscore</button>
           </div>
       {{!-- <div>
          <button class="btn btn-primary pull-centre class" {{action "Accept"}}>Accept</button>
         </div> --}}
            {{!-- <div  class="reject" >
         <button class="btn btn-primary pull-centre"{{action "Reject"}}>Reject</button>
         </div> --}}
   </div>
   </div>
</div>
<a href="#" class="go-top">Scroll to Top</a>
{{/if}}