
{{partial 'head'}}
{{#if showDashboard }}
<script>
   $(document).ready(function() {
       // Show or hide the sticky footer button
       $(window).scroll(function() {
           if ($(this).scrollTop() > 200) {
               $('.go-top').fadeIn(200);
           } else {
               $('.go-top').fadeOut(200);
           }
       });
       // Animate the scroll to top
       $('.go-top').click(function(event) {
           event.preventDefault();
           $('html, body').animate({
               scrollTop: 0
           }, 300);
       });    
   });
</script>
   {{!-- <div id="cont-lock" style="text-align:left ;color:black"> --}}
      <h1><b style="margin-left:-2000px">Bank Dashboard</b></h1>
   {{!-- </div> --}}
   <br/>
   <div class="dashbord-container" style="background-color:lightgrey">
   <p style="text-align:center;color:black"><b>Total Request</b></p>
      <p class="head-request"><b>ALL Request</b></p>
   <div class="dash-container" style="background-color:bisque">
     
    <div class ="container">
         {{#each showrecords   as |item|}}
         <ul>
            <div style="background:lightgrey;margin-bottom:25px">
            Requestid  <a href="" {{action 'userdetails'  item }}><b style="color:black ">{{item.Key}}</b></a>  
            </div>
            </ul>
            {{#each item.Record.transactionlist   as |item1|}}
            <div class="vl">Name:{{ item1.transactiondetails.firstname}}</div> 
            <div class="vl2">Properttype:{{ item1.transactiondetails.propertyType}}</div>
            <div class="vl3 ">Companyname:{{ item1.transactiondetails.CompanyName}}</div>      
            {{/each}}
            {{/each}}
         </div>
   </div>
</div>
<a href="#" class="go-top">Scroll to Top</a>
{{/if}}