{{partial 'head'}}
{{#if showCreditscore}}
<div class="container">
   <div id="usercont-lock">
      <h2><i>Credit Score</i></h2>
</div>
<div class="user-container">
   <br/>
   <p style="text-align:center;color:#808080 "><b>Total Request</b></p>
      <i style="margin-left:70px">Request Id:</i><i id="req">{{record.requestid}}</i>
      <br>
      <br>
      <br>
      <div class="row">
         <div style="height:2em;border:1px solid #000;width: 102%;margin-left: -16px;">
            <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;"><i style="margin-left:5%">Request Id:</i><i id="req">{{loanID.Key}}</i></div>
            <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">
               <div class="vl5">{{loanID.Record.transactiondetails.location}}</div>
            </div>
            <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">
               <div class="vl5">{{loanID.Record.transactiondetails.propertyvalue}}</div>
            </div>
            <div class="col-xs-6 col-sm-3" style="background-color:lightcyan;">
               <div class="vl5">{{loanID.Record.transactiondetails.location}}</div>
            </div>
         </div>
         <br>
         <br>
         <style>
            table, th, {
            border-width: thin;
            }
         </style>
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Personal information</div>
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Property information</div>
         </div>
         <br> 
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
               <table>
                  <tr>
                     <td>firstname:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.firstname}}</td>
                  </tr>
                  <tr>
                     <td>lastname:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.lastname}}</td>
                  </tr>
                  <tr>
                     <td>contact number:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.number}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.country}}</td>
                  </tr>
                  <tr>
                     <td>occupation:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.occupation}}</td>
                  </tr>
                  <tr>
                     <td>income:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.income}}</td>
                  </tr>
               </table>
            </div>
            <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">
               <table>
                  <tr>
                     <td>mortgaugeType</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.mortgaugeType}}</td>
                  </tr>
                  <tr>
                     <td>Need Amount:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.Amount}}</td>
                  </tr>
                  <tr>
                     <td>location</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.location}}</td>
                  </tr>
                  <tr>
                     <td>price:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.price}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.country}}</td>
                  </tr>
                  <tr>
                     <td>paymentPercentage:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.paymentPercentage}}</td>
                  </tr>
               </table>
            </div>
         </div>
         <div style=" margin-top:1cm;">
           <button type="button" id="myButton" class="btn btn-primary" {{action "creditscore"}}>CreditScore</button>
         </div>
         <br>
         <br>
      </div>
   </div>
   {{/if}}
