{{partial 'head'}}
{{#if showCreditscore}}
<div class="container-fluid">
   <script>
      $(document).ready(function() {
          // Show or hide the sticky footer button
          $(window).scroll(function() {
              if ($(this).scrollTop() > 200) {
                  $('.go-top').fadeIn(200);
              } else {
                  $('.go-top').fadeOut(200);
              }
          });
          // Animate the scroll to top
          $('.go-top').click(function(event) {
              event.preventDefault();
              $('html, body').animate({
                  scrollTop: 0
              }, 300);
          });
         
      });
   </script>
   <br>
   <div class="container">
      <div style="color:gray;text-align:center;">CREDITSCORE FOR REQUESTED USER ID</div>
      <br>
      <br>
      <div class="row">
         {{!-- <div class="container"> --}}
             
            <div class="col-xs-3 col-lg-3 col-sm-3" >
                Request Id:{{loanID.Key}}125342
                </div>
            <div class="col-xs-3 col-lg-3 col-sm-3" >
               <div class="vl5"><div style="margin-left:8%">123{{loanID.Record.transactiondetails.location}}</div></div>
            </div>
            <div class="col-xs-3 col-lg-3 col-sm-3">
               <div class="vl5"><div style="margin-left:8%">{{loanID.Record.transactiondetails.propertyvalue}}</div></div>
            </div>
            <div class="col-xs-3 col-lg-3 col-sm-3">
               <div class="vl5"><div style="margin-left:8%">{{loanID.Record.transactiondetails.location}}</div></div>
            </div>
         {{!-- </div> --}}
         <br>
         <br>
         <style>
            table, th, {
            border-width: thin;
            }
         </style>
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Personal information</div>
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Property information</div>
         </div>
         <br> 
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
               <table>
                  <tr>
                     <td>firstname:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.firstname}}</td>
                  </tr>
                  <tr>
                     <td>lastname:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.lastname}}</td>
                  </tr>
                  <tr>
                     <td>contact number:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.number}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.country}}</td>
                  </tr>
                  <tr>
                     <td>occupation:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.occupation}}</td>
                  </tr>
                  <tr>
                     <td>income:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.income}}</td>
                  </tr>
               </table>
            </div>
            <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">
               <table>
                  <tr>
                     <td>mortgaugeType</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.mortgaugeType}}</td>
                  </tr>
                  <tr>
                     <td>Need Amount:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.Amount}}</td>
                  </tr>
                  <tr>
                     <td>location</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.location}}</td>
                  </tr>
                  <tr>
                     <td>price:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.price}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.country}}</td>
                  </tr>
                  <tr>
                     <td>paymentPercentage:</td>
                     <td style="color:gray;">{{loanID.Record.transactiondetails.paymentPercentage}}</td>
                  </tr>
               </table>
            </div>
         </div>
         <div style=" margin-top:1cm;">
            <button type="button" id="myButton" class="btn btn-primary" {{action "creditscore"}}>CreditScore</button>
         </div>
         <br>
         <br>
      </div>
   </div>
</div>
{{/if}}