{{partial 'head'}}
{{#if showCreditscore}}
{{/if}}
<div class="container-fluid">
   {{creditscore}}
      <h2><b style="text-align:center;">CREDIT SCORE</b></h2>

<div class="container">
   <br/>
    <div class="row">
       <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
      Request Id:<b style="color:blue">{{record.Key}}</b>
      </div>
</div>
<br>
<br>
      
         <style>
            table, th, {
            border-width: thin;
            }
         </style>
        
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Personal information</div>
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Property information</div>
         </div>
         <br> 
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
           
               <table>
                  <tr>
                     <td>First name:</td>
                     <td style="color:gray;">{{details.fname}}</td>
                  </tr>
                  <tr>
                     <td>Last name:</td>
                     <td style="color:gray;">{{details.lname}}</td>
                  </tr>
                  <tr>
                     <td>Contact number:</td>
                     <td style="color:gray;">{{details.phone}}</td>
                  </tr>
                  <tr>
                     <td>Country:</td>
                     <td style="color:gray;">{{details.country}}</td>
                  </tr>
                  <tr>
                     <td>Occupation:</td>
                     <td style="color:gray;">{{details.occupation}}</td>
                  </tr>
                  <tr>
                     <td>Income:</td>
                     <td style="color:gray;">{{details.income}}</td>
                  </tr>
               </table>
              
            </div>
            <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">  
               <table>
                  <tr>
                     <td>Mortgauge type</td>
                     <td style="color:gray;">{{details.propertyType}}</td>
                  </tr>
                  <tr>
                     <td>Need amount:</td>
                     <td style="color:gray;">{{details.amount}}</td>
                  </tr>
                  <tr>
                     <td>Location</td>
                     <td style="color:gray;">{{details.location}}</td>
                  </tr>
                  <tr>
                     <td>Price:</td>
                     <td style="color:gray;">{{details.price}}</td>
                  </tr>
                  <tr>
                     <td>Country:</td>
                     <td style="color:gray;">{{details.country}}</td>
                  </tr>
                  {{!-- <tr>
                     <td>PaymentPercentage:</td>
                     <td style="color:gray;">{{details.paymentPercentage}}</td>
                  </tr> --}}
                  <tr>
                 <td>Credit score:</td>
                 <td style="color:black;">{{creditscore}}</td>
             </tr>
               </table>
          
            </div>
         </div>
         <table>
             
         </table>
         
           <br>
           <br>
             <div class="row">
                  <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">  
         
            <button type="button" id="myButton" class="btn btn-primary" {{action "ApproveUpdate" details record.Key creditscore}}>Approve</button>
         
          </div>
         <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">  
            <button type="button" id="myButton" class="btn btn-primary" {{action "creditscore" record.Key}}>CreditScore</button>
         </div>
         </div>
         <div>
        <h3>STATUS</h3>
        <table>
          <tr>
            UserRequest
          </tr>
          <tr>
            Date<td>{{date}}</td>
            </tr>
            <tr>Time<td>{{time}}</td></tr>
        </table>
      </div>
         {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Your creditscore has been sent to bank...!!
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
         <br>
         <br>
      </div>

  </div>

