<br>
<br>
<div class="employee">
         <form >
              <section>
                  <h3><b><i>Employement Details</i></b></h3>
                   <div class="detail"><i>Tell us about Employee details?</i></div>
               </section>
               <li>
                  <label>Type of employee</label>
               </li>
               <div>
                   {{select-component listitem=TypeOfemployee selectedlist=Employee}}
               </div>  
               <li>
                  <label>
                  If employed (Gross Fixed Salary)
                  </label>
                  <span class="symbol">Rs</span>
                  <span>
              {{validated-input  type="text" model=this  valuePath='salary' placeholder="salary" required=""}}
                 {{!--{{input type="text" value=salary placeholder="salary"}}--}}
                  </span>
               </li>
               <li>
                   <label>Company Name </label>
                  <div>
                      <span>
                          {{validated-input  type="text" model=this  valuePath='CompanyName' placeholder="company name" required=""}}
                          {{!--{{input type="text"   value=CompanyName placeholder="company name"}}--}}
                     </span>
                  </div>
               </li>
               <li>
                  <label>Existing EMI</label>
                  <div>
                      <span>
                          {{validated-input  type="number" model=this  valuePath='Emi' placeholder="previous Emi" required=""}}
                      {{!--{{input type="number" value=Emi placeholder="EMI"}}--}}
                      </span>
                      </div>
               </li>
               <li>
                  <label>
                  Spouse Income
                  </label>
                  <span class="symbol">$</span>
                  <span><label>Rupees</label>
                  {{validated-input  type="number" model=this  valuePath='Rupees' placeholder="income" required=""}}
                  {{!--{{input  type="text" class="field text currency nospin" value=Rupees size="10"}} --}}
                  </span>
               </li>  
          
            <button {{action "next"}}>next</button>
         </form>

</div>