{{partial 'head'}}
{{#if showLogin}}

{{/if}}
<br>
<br>
 <div class="jumbotron" style="background-color:;">
     
    <div class="container" style="background-color:">

          <div class="row">
               <b><em><span class="glyphicon glyphicon-tasks"></span>My Account</em></b>
          </div>
       <br>
       <br>
          {{#each showrecords   as |item|}}  
         <div class="row">
             
            <div class="col-xs-3 col-lg-3 col-sm-3">Requestid<a href="" {{action 'userloanschedule'  item}}><b style="color:blue">{{item.Records.requestid}}</b></a></div>
            <div class="row">
               <div class="col-xs-3 col-lg-3 col-sm-3"><b>Data Published Time</b></div>
               <div class="col-xs-3 col-lg-3 col-sm-3"> Date:<small  class="text-muted">{{item.Records.date}}</small></div>
               <div class="col-xs-3 col-lg-3 col-sm-3">Time:<small  class="text-muted">{{item.Records.time}}</small></div>
            </div>
          <div class="row">
                  {{!-- <div class="col-xs-3 col-lg-3 col-sm-3"><a href="" {{action 'timestamp' }}><b style="color:#db5945">Track Timestamp</b></a></div> --}}
                  <div class="col-xs-9 col-lg-9 col-sm-9">
                        Status:
                           <b style="color:green">{{#if isBankPreclose}}{{status}}{{/if}}</b>

                  <b style="color:green">{{item.Records.statusForUser}}
                      {{item.Records.statusForBankLegal}}
                      {{item.Records.statusForCreditRequest}}
                      {{item.Records.statuspreclose}}
                      {{item.Records.userpreclosestatus}}
                 
                  </b>
               
                        </div>
                  </div> 
                  </div>
         <br>
         {{/each}}
     </div>
     
</div>
