{{partial 'head'}}
{{#if showLogin}}

{{/if}}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style id="link">
               /* unvisited link */
               a:link {
               color: red;
               }
               /* visited link */
               a:visited {
               color: green;
               }
               /* mouse over link */
               a:hover {
               color: hotpink;
               }
               /* selected link */
               a:active {
               color: blue;
               }
            </style>
            <script type="text/x-handlebars" data-template-name="application">
  	<div class="container">
	  {{#each notification in notifications}}
        {{alert-message notification=notification notifications=notifications}}
      {{/each}}
      
      
      <button {{action 'addNotification'}}>Add Notification</button>
	</div>
  </script>

	<script type="text/x-handlebars" data-template-name="components/alert-message">
		<div {{bindAttr class="notification.type"}}>
		  <i class="icon-remove-sign"></i>
		  <button type="button" class="close" {{action 'close'}}>×</button>
		  {{notification.message}}
		</div>
	</script>
            <div class="jumbotron">
<div class="container">
   <br>
    
   {{!-- <small style="margin-left:-9cm">Remember:<u>click on requestid to check response</u></small> --}}
   {{!-- <header class="w3-container  w3-center" style="padding:70px 16px">njknjknk</header> --}}
      <br>
      <br>
       <button type="button" class="btn btn-default btn-lg" {{action 'home2' showrecords}}>
          <span class="glyphicon glyphicon-hand-right"></span> Go To Your Account>>
        </button>
        {{!-- <button class='btn btn-default btn-lg'{{action 'home2' showrecords}}>Go To Your Account>></button> --}}
    
     {{!-- {{#link-to 'home2'}}<b id="link" style="margin-left:0cm">Go To Your Account</b>{{/link-to}} --}}
      {{!-- end --}}
   
      <h1 class="w3-margin w3-jumbo">Welcome To Mortgage Loan</h1>
      <p class="w3-xlarge"  style="margin-left:470px">Mortgage process</p>
      <button type="button" id="myButton"  class="btn btn-primary" style="margin-left:13cm" {{action "gotoApply"}}>Apply New Request</button>
   
   <!-- First Grid -->
  
   <!-- Second Grid -->
   
   <!-- Footer -->
   <footer class="w3-container w3-padding-64 w3-center w3-opacity">
      <div class="w3-xlarge w3-padding-32">
         <i class="fa fa-facebook-official w3-hover-opacity"></i>
         <i class="fa fa-instagram w3-hover-opacity"></i>
         <i class="fa fa-snapchat w3-hover-opacity"></i>
         <i class="fa fa-pinterest-p w3-hover-opacity"></i>
         <i class="fa fa-twitter w3-hover-opacity"></i>
         <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      <p>Powered by <a href="" target="_blank">RapidQube</a></p>
   </footer>
</div>
</div>