{{partial 'head'}}
{{#if LegalVerifierParticipant}}
{{/if}}
<div class="container-fluid">
  
      <h2 style="text-align:center;">Legal Verification</h2>

<div class="user-container">
   <br/>
   <p style="text-align:center;color:#808080 "><b>Total Request</b></p>
  
      <i style="margin-left:70px">Request Id:{{records}}</i>


      
         <style>
            table, th, {
            border-width: thin;
            }
         </style>
        
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-sm-6" style="background-color:grey;">Personal information</div>
            <div class="col-xs-6 col-lg-6 col-sm-6" style="background-color:grey;">Property information</div>
         </div>
         <br> 
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
           
               <table>
                  <tr>
                     <td>firstname:</td>
                     <td style="color:gray;">{{showrecords.fname}}</td>
                  </tr>
                  <tr>
                     <td>lastname:</td>
                     <td style="color:gray;">{{showrecords.lname}}</td>
                  </tr>
                  <tr>
                     <td>contact number:</td>
                     <td style="color:gray;">{{showrecords.phone}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{showrecords.country}}</td>
                  </tr>
                  <tr>
                     <td>occupation:</td>
                     <td style="color:gray;">{{showrecords.occupation}}</td>
                  </tr>
                  <tr>
                     <td>income:</td>
                     <td style="color:gray;">{{showrecords.income}}</td>
                  </tr>
               </table>
              
            </div>
            <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">
                
               <table>
                  <tr>
                     <td>mortgaugeType</td>
                     <td style="color:gray;">{{showrecords.propertyType}}</td>
                  </tr>
                  <tr>
                     <td>Need Amount:</td>
                     <td style="color:gray;">{{showrecords.amount}}</td>
                  </tr>
                  <tr>
                     <td>location</td>
                     <td style="color:gray;">{{showrecords.location}}</td>
                  </tr>
                  <tr>
                     <td>price:</td>
                     <td style="color:gray;">{{showrecords.price}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{showrecords.country}}</td>
                  </tr>
                  <tr>
                     <td>paymentPercentage:</td>
                     <td style="color:gray;">{{showrecords.paymentPercentage}}</td>
                  </tr>
               </table>
          
            </div>
         </div>
         <table>
           
         </table>
         <div style=" margin-top:1cm;">
            <button type="button" id="myButton" class="btn btn-primary" {{action "reject" showrecords records }}>Reject</button>
         </div>
           <div style=" margin-top:1cm;">
            <button type="button" id="myButton" class="btn btn-primary" {{action "approved" showrecords records }}>Approve</button>
         </div>
         {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Your Property has been verified Successfully...!!!
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
    {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
    {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
    {{/paper-dialog}}
    {{/if}}
         <br>
         <br>
      </div>

  </div>

