{{partial 'head'}}
{{#if showUserDetails}}
{{/if}}
<script>
   $(document).ready(function() {
       // Show or hide the sticky footer button
       $(window).scroll(function() {
           if ($(this).scrollTop() > 200) {
               $('.go-top').fadeIn(200);
           } else {
               $('.go-top').fadeOut(200);
           }
       });
       // Animate the scroll to top
       $('.go-top').click(function(event) {
           event.preventDefault();
           $('html, body').animate({
               scrollTop: 0
           }, 300);
       }); 
   });
</script>
<div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" {{action "closeNav"}}>&times;</a>
   <a >Home</a>
   <a {{action "goTonewrequest"}}>User</a>
   <a {{action "goToloan"}}>Bank</a>
   <a {{action "goToproperty"}}>Creditscoregenerator</a>
   <a {{action "goToemployment"}}>LegalPerson</a>
</div>
<div class="container-fluid" style="background-color:lightgrey">
<h1><b style="    margin-left: -30cm;">Legalverifier</b></h1>
<br>
<div class="jumbotron" style="margin-top:-3cm">
   <p style="text-align:center;color:black"><b>TOTAL REQUEST</b></p>
   <div class="container" style="background-color:grey"><b>ALL Request</b></div>
   <br>
   <div class ="container">
    
      <div class="row">
         <div class="col-xs-3 col-lg-3 col-sm-3">Requestid<a href="" {{action 'userdetails'  details }}><b style="color:blue">{{details.Key}}</b></a></div>
         <div class="row">
            <div class="col-xs-3 col-lg-3 col-sm-3"><b>Creditscore Request Published Time</b></div>
            <div class="col-xs-3 col-lg-3 col-sm-3"> Date:<small  class="text-muted">{{details.Record.date}}</small></div>
            <div class="col-xs-3 col-lg-3 col-sm-3">Time:<small  class="text-muted">{{details.Record.time}}</small></div>
         </div>
      </div>
      <div class="row">
       
         <div class="col-xs-9 col-lg-9 col-sm-9">
        
             {{IsStatusForCreditRequest}}
               <div >Status:<i style="color:green;">{{#if IsStatusForCreditRequest}}{{statusForCreditRequest}}{{/if}}</i>
                  <i style="color:green;">{{#if IsStatusForGenerated}}{{statusForGenerated}}{{/if}}</i>
               </div>
            </div>
         </div>
         <br>
       
      </div>
   </div>
</div>
<div>
   <div style="background-color:lightgrey;">
      <h3>Time Stamp</h3>
      <div class="row">
         <b> User Requested Time</b>
      </div>
      <div class="row">
         <div class="col-xs-6 col-lg-6 col-sm-6">
            Date:{{date}}
         </div>
         <div class="col-xs-6 col-lg-6 col-sm-6">
            Time{{time}}
         </div>
      </div>
   </div>
</div>
<a href="#" class="go-top">Scroll to Top</a>