{{partial 'head'}}
{{#if showUserDetails}}
{{/if}}
<div class="container-fluid" style="">
   <script>
      $(document).ready(function() {
          // Show or hide the sticky footer button
          $(window).scroll(function() {
              if ($(this).scrollTop() > 200) {
                  $('.go-top').fadeIn(200);
              } else {
                  $('.go-top').fadeOut(200);
              }
          });
          // Animate the scroll to top
          $('.go-top').click(function(event) {
              event.preventDefault();
              $('html, body').animate({
                  scrollTop: 0
              }, 300);
          });
         
      });
   </script>
   <br>
   <div class="container">
      <br>
      <br>
        <h4 style="text-align:center;">USER DATA FOR LEGAL VERIFICATION</h4>
      {{!-- <b style="margin-left:12cm;">USER DATA FOR LEGAL VERIFICATION</b> --}}
      <br>
      
      <div class="row" style="">
         <div class="col-xs-3 col-lg-3 col-sm-3" style="background-color:lightcyan;"><i style="margin-left:5%">Request Id:</i><i id="req">{{lastdetails.requestid}}</i></div>
         <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
            <div class="vl5">
               <div style="margin-left:8%">Firstname:{{lastdetails.fname}}
               </div>
            </div>
         </div>
         <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
            <div class="vl5">
               <div style="margin-left:8%">Propertytype:{{lastdetails.propertyType}}</div>
            </div>
         </div>
         <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
            <div class="vl5">
               <div style="margin-left:8%">Loanamount:{{lastdetails.amount}}</div>
            </div>
         </div>
      </div>
      <br>
      <br>
      <style>
         table, th, {
         border-width: thin;
         }
      </style>
      {{!-- ro1 --}}
      <div class="row">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Personal information</div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Property information</div>
      </div>
      {{!-- ro1 --}}
      <br> 
      {{!-- r2 --}}
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
           
            <table>
               <tr>
                  <td>First name:</td>
                  <td style="color:gray;">{{lastdetails.fname}}</td>
               </tr>
               <tr>
                  <td>Last name:</td>
                  <td style="color:gray;">{{lastdetails.lname}}</td>
               </tr>
               <tr>
                  <td>Contact number:</td>
                  <td style="color:gray;">{{lastdetails.phone}}</td>
               </tr>
               <tr>
                  <td>Country:</td>
                  <td style="color:gray;">{{lastdetails.country}}</td>
               </tr>
               <tr>
                  <td>Occupation:</td>
                  <td style="color:gray;">{{lastdetails.occupation}}</td>
               </tr>
               <tr>
                  <td>Income:</td>
                  <td style="color:gray;">{{lastdetails.income}}</td>
               </tr>
            </table>
           
         </div>
         <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">
           
            <table>
               <tr>
                  <td>Mortgage type</td>
                  <td style="color:gray;">{{lastdetails.propertyType}}</td>
               </tr>
               <tr>
                  <td>Need amount:</td>
                  <td style="color:gray;">{{lastdetails.amount}}</td>
               </tr>
               <tr>
                  <td>Location</td>
                  <td style="color:gray;">{{lastdetails.location}}</td>
               </tr>
             
               <tr>
                  <td>Country:</td>
                  <td style="color:gray;">{{lastdetails.country}}</td>
               </tr>
              
            </table>
        
         </div>
      </div>
      {{!-- r2 --}}
      {{!-- r3 --}}
      <div class="row">
         <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">  
            <button type="button" class="btn btn-primary btn-block" disabled={{legalButton}} {{action "reject" lastdetails record.Key creditscore}}>Reject</button>
           
         </div>
         <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">  
            <button type="button" class="btn btn-primary btn-block" disabled={{legalButton}} {{action "approved"lastdetails record.Key creditscore }}>Approve</button>
         
         </div>
         <br>
             {{!-- <h3>Time Stamp</h3> --}}
         {{#if isCreditGen}}
         <div class="row">
            <b>Legal approval/rejected published Time</b>
         </div>
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-sm-6">
               Date:{{date}}
            </div>
            <div class="col-xs-6 col-lg-6 col-sm-6">
               Time{{time}}
            </div>
            <br>
            <br>
         </div>
         {{/if}}
         <br>
      </div>
      {{!-- <div style="background-color:lightgrey;">
     
      </div> --}}
      {{#if showDialog}}
      {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
      {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
      Your response sent to bank sucessfully!!
      {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
      {{/paper-toolbar}}
      {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
      {{/paper-dialog-actions}}
      {{/paper-dialog}}
      {{/if}} 
      <br>
      <br>
   </div>
</div>

<a href="#" class="go-top">Scroll to Top</a>