{{partial 'head'}}
{{#if LegalVerifierParticipant}}
{{/if}}
<div class="container-fluid">
   <h2 style="margin-left:13cm;"><b>Legal Verification</b></h2>
  
<div class="container">
   <br>
   <p style="text-align:center;color:#808080 "><b>Total Request</b></p>
     <div class="row">
       <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
      Request Id:<b style="color:blue">{{records}}</b>
      </div>
</div>
     <br>

         <style>
            table, th, {
            border-width: thin;
            }
         </style>
        
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-sm-6" style="background-color:grey;">Personal information</div>
            <div class="col-xs-6 col-lg-6 col-sm-6" style="background-color:grey;">Property information</div>
         </div>
         <br> 
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
           
               <table>
                  <tr>
                     <td>First name:</td>
                     <td style="color:gray;">{{showrecords.fname}}</td>
                  </tr>
                  <tr>
                     <td>Last name:</td>
                     <td style="color:gray;">{{showrecords.lname}}</td>
                  </tr>
                  <tr>
                     <td>Contact number:</td>
                     <td style="color:gray;">{{showrecords.phone}}</td>
                  </tr>
                  <tr>
                     <td>Country:</td>
                     <td style="color:gray;">{{showrecords.country}}</td>
                  </tr>
                  <tr>
                     <td>Occupation:</td>
                     <td style="color:gray;">{{showrecords.occupation}}</td>
                  </tr>
                  <tr>
                     <td>Income:</td>
                     <td style="color:gray;">{{showrecords.income}}</td>
                  </tr>
               </table>
              
            </div>
            <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">
                
               <table>
                  <tr>
                     <td>Mortgauge type</td>
                     <td style="color:gray;">{{showrecords.propertyType}}</td>
                  </tr>
                  <tr>
                     <td>Need amount:</td>
                     <td style="color:gray;">{{showrecords.amount}}</td>
                  </tr>
                  <tr>
                     <td>Location</td>
                     <td style="color:gray;">{{showrecords.location}}</td>
                  </tr>
                  <tr>
                     <td>Price:</td>
                     <td style="color:gray;">{{showrecords.price}}</td>
                  </tr>
                  <tr>
                     <td>Country:</td>
                     <td style="color:gray;">{{showrecords.country}}</td>
                  </tr>
                  {{!-- <tr>
                     <td>Payment Percentage:</td>
                     <td style="color:gray;">{{showrecords.paymentPercentage}}</td>
                  </tr> --}}
               </table>
          
            </div>
         </div>
         <table>
           
         </table>
         <br>
         <br>
          <div style=" margin-top:1cm;">

          <div class="row">
                  <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">  
           <button type="button" class="btn btn-primary btn-block"{{action "reject" showrecords records }}>Reject</button>
            {{!-- <button type="button" id="myButton" class="btn btn-primary" {{action "ApproveUpdate" details record.Key creditscore}}>Approve</button> --}}
         
          </div>
         <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">  
                <button type="button" class="btn btn-primary btn-block" {{action "approved" showrecords records }}>Approve</button>
            {{!-- <button type="button" id="myButton" class="btn btn-primary" {{action "creditscore" record.Key}}>CreditScore</button> --}}
         </div>
         </div>
         </div>
         <br>
          <div style="background-color:lightgrey;">
             <h3>Time Stamp</h3>
             {{#if isLegalverified}}
             <div class="row">
           <b>  Legal Veification Generation Time</b>
            </div>
          <div class="row">
            <div class="col-xs-6 col-lg-6 col-sm-6">
            Date:{{date}}
            </div>
             <div class="col-xs-6 col-lg-6 col-sm-6">
            Time{{time}}
            </div>
        
        
       </div>
       <br>
       <br>
       {{/if}}
       </div>
       
         {{!-- <div>
        <h3>STATUS</h3>
        <table>
          <tr>
            UserRequest
          </tr>
          <tr>
            Date<td>{{date}}</td>
            </tr>
            <tr>Time<td>{{time}}</td></tr>
        </table>
      </div> --}}
         {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
  {{#paper-toolbar}}
    {{#paper-toolbar-tools}}
        Your Property has been verified Successfully...!!!
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
    {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
    {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
    {{/paper-dialog}}
    {{/if}}
         <br>
         <br>
      </div>

  </div>

