{{partial "head"}}
{{#if "showCreditscore"}}
<div class="container">
   <div id="usercont-lock">
      <h2><i>Legal verification </i></h2>
</div>
<div class="user-container">
   <br/>
   <p style="text-align:center;color:#808080 "><b>Total Request</b></p>
               <b style="margin-left:387px">Property Information</b><br>
               <br>
               <div class="input-container">
               PropertyType:{{loanID.transactionstring.propertyType}}
               <br>
              <br>
               Address:{{loanID.transactionstring.address}}
               <br>
               <br>
               Propertyvalue:{{loanID.transactionstring.propertyvalue}}
            <br>
            <br>
              Ownership Name:{{loanID.transactionstring.firstname}}
             <br>
             property Document:{{loanID.transactionstring.file_upload1}}
                   <br>
              <button  id="user-btn2" {{action "approval"}}>Approve</button>
              <button  id="user-btn2" {{action "reject"}}>Rejected</button>
             
             <br>
             <br>
             </div>   
             </div>
  
    </div>
    {{/if}}