{{partial 'head'}}
{{#if showUserSchedule}}
{{/if}}
<div class="container-fluid">
      <br>
      <div class="jumbotron" style="background-color:lightgrey;text-align:center; ">
   <b style="">LOAN SCHEDULE</b>
   </div>

<div class="container" style="background-color:">
   
   
   <div class="row" style="">
      <div class="col-xs-2 col-lg-2 col-md-2 col-sm-2">
         <label>Request iD:</label>
      </div>
      <div class="col-xs-10 col-lg-10 col-md-10 col-sm-10" style="color:blue">
          {{!-- {{validated-input  type="text" class="form-group" model=this  valuePath='requestid' placeholder="Request Id" required=""}} --}}
         {{record.Key}}
      </div>
   </div>
   
     <div class="row" style="">
   <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
         <label for="pwd">Loan amount in Rs:</label>
               </div>
                <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
         {{validated-input  type="text"  class="form-group" model=this  valuePath='loanamount' placeholder="loanamount" required=""}}
</div>
   </div>
    <div class="row" style="">
   <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
         <label>Loan terms:</label>
            </div>
             <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
         {{validated-input  type="text"  class="form-group"  model=this  valuePath='loanterms' placeholder="loanterms" required=""}}
   </div>
   </div>
      <div class="row" style="">
   <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
      
         <label>Annual interest rate </label>
         </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
            {{select-component class="form-group" listitem=InterestRate   selecteditemlist=amountinterestrate}}
         </div>
      
   </div>
    <div class="row" style="">
   <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
      
         <label >Payment per year:</label>
         </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
         {{validated-input  type="text"  class="form-group" model=this  valuePath='paymentperyear' placeholder="paymentperyear" required=""}}
      </div>
   </div>
      <div class="row" style="">
   <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
      
         <label >Installment per month:</label>
         </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
         {{validated-input  type="text"  class="form-group" model=this  valuePath='installmentpermonth' placeholder="installmentpermonth" required=""}}
      </div>
   </div>
   <br>
   <br>
    <div class="row">
                  
           <button type="button" class="btn btn-primary btn-block"{{action "loanschedule" details record}}>Schedule</button>
            {{!-- <button type="button" id="myButton" class="btn btn-primary" {{action "ApproveUpdate" details record.Key creditscore}}>Approve</button> --}}
         
          </div>
   
   <br>
   <br>
</div>

{{#if showDialog}}
{{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
{{#paper-toolbar}}
{{#paper-toolbar-tools}}
Loan has been scheduled for requested user   ...!!
{{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
{{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-dialog-actions class="layout-row"}}
{{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
{{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
{{/paper-dialog-actions}}
{{/paper-dialog}}

{{/if}}
</div>