{{partial 'head'}}
{{#if showUserSchedule}}
{{!-- <div class="container">
   <div class="form"> --}}
        {{!-- <form >
               <h3><b><i style="margin-left: -638px;">Loan Schedule </i></b></h3>
               <br>
        Request ID:{{validated-input  type="text" model=this  valuePath='requestid' placeholder="Request Id" required=""}}
                 <br>
               <br>
                 <label>Loan Amount in Rs</label>
                  {{validated-input  type="text" model=this  valuePath='loanamount' placeholder="amount" required=""}}
                 <br>
            
                   <label>Loan Terms</label>
             {{validated-input  type="number" model=this  valuePath='loanterms' placeholder="loan terms" required=""}} 
          
                
              <br>
               <label>Annual Interest Rate </label>
            {{select-component listitem=InterestRate selecteditemlist=amountinterestrate}}
                      
              <br>
       
                 <label>Payment Per Year</label>
               
          {{validated-input  type="number" model=this  valuePath='paymentperyear' placeholder="payment per year" required=""}}
                        
                <br>
               <label>Installment per month</label> 
                <span class="symbol">$</span>
                
                {{validated-input  type="number" model=this  valuePath='installmentpermonth' placeholder="per month" required=""}}
               
            <br> --}}
            {{!-- boots --}}
            
            <br>
            <br>
   <div class="container">
     <br>
    <div class="form-group">
      <label>Request ID:</label>
    {{validated-input  type="text" model=this  valuePath='requestid' placeholder="Request Id" required=""}}
    </div>
    <div class="form-group">
      <label for="pwd">Loan Amount in Rs:</label>{{validated-input  type="text" model=this  valuePath='loanamount' placeholder="loanamount" required=""}}
    </div>
    <div class="form-group">
       <label>Loan Terms:</label>
      {{validated-input  type="text" model=this  valuePath='loanterms' placeholder="loanterms" required=""}}
    </div>
    <div class="form-group">
     <label>Annual Interest Rate </label>
     <div style="margin-left:308px; margin-top:-1cm;">
            {{select-component listitem=InterestRate selecteditemlist=amountinterestrate}}
      </div>
      </div>
      <div class="form-group">
           <label >Payment Per Year:</label>
  {{validated-input  type="text" model=this  valuePath='paymentperyear' placeholder="paymentperyear" required=""}}
    </div>
    <div class="form-group">
       <label >Installment per month:</label>
      {{validated-input  type="text" model=this  valuePath='installmentpermonth' placeholder="installmentpermonth" required=""}}
    </div>
    <br>
    <br>
    
    <div style="margin-left:363px;">
   <button type="button" id="myButton" class="btn btn-primary" {{action "loanschedule"}}>Schedule</button>
</div>
<br>
<br>

</div>

            {{!-- boots --}}
           {{!-- <button class="btn" {{action "loanschedule"}}>Schedule</button> --}}
         {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Loan has been scheduled to the user   ...!!
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
           {{isShchedule}}
      
{{/if}}
