{{!-- <a href="#"><img src="assets/images/LOAN.jpg" class="img"></a> --}}
{{partial 'head'}}
{{#if showLogin}}
<br>
<br>
<br>
<br>
<div class='container' style="background-color:lightgrey; text-align:center; width:25%;">
  <br>
  <br>
  <header><i><b><u>Login</u></b></i></header>
  <br>
 <label><b>EmailID </b><span>*</span></label>
  {{validated-input  type="email" model=this  valuePath='email' placeholder="email" required=""}}
<br>
   <label><b>password</b> <span>*</span></label>
   {{validated-input  type="password" model=this  valuePath='password' placeholder="password" required=""}}
  {{!-- <div class="help">Use upper and lowercase lettes as well</div> --}}
  <div >
    <br>
    
     <button type="button" id="myButton" class="btn btn-primary" {{action "Submit" }}>Login</button>
  {{!-- <button class="btn" {{action "Submit"}}>Login</button> --}}
  {{#if isShowingModal}}
  {{#modal-dialog onClose="Submit"
                  targetAttachment="center"
                  translucentOverlay=true}}
    Login succesfull!!!
    {{usertype}}
    {{!-- <button {{action "Proceed" usertype}} >Proceed</button> --}}
    <button class="btn" {{action "proceed" usertype}}>Proceed</button>
  {{/modal-dialog}}
  {{/if}}
  <div class="link">
  <br>New User? {{#link-to 'signup'}}<i style="color:#2d8cff "> sign up </i>{{/link-to}}
  </div>
  <br>
  <br>
  </div>
  
</div>
{{/if}}
