<div class="layout-row layout-xs-column">
  <div class="layout-column flex-xs flex-gt-xs-50">
   
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Login{{/text.headline}}
           <div class="layout layout-sm-row">
      {{paper-input
        class="flex-50"
        label="Email Address"
        value=email
        onChange=(action (mut email))
        errors=model.validations.attrs.username.messages
      }}
    </div>
    
    
    <div class="layout layout-sm-row">
      {{paper-input
        label="Password"
        class="flex-34"
        type="password"
        value=password
        onChange=(action (mut password))
        errors=model.validations.attrs.password.messages
      }}
    
    </div>
    {{!-- <button class="btn"{{action "login"}}>Submit</button> --}}

          {{!-- {{#text.subhead}}Large{{/text.subhead}} --}}
        {{/title.text}}
        {{title.media size="lg" src="assets/images/mort.png" alt="Tomster" title="Tomster"}}
      {{/card.title}}
      {{#card.actions}}
        {{#paper-button onClick=(action "login")}}Submit{{/paper-button}}
        {{!-- {{#paper-button}}Action 2{{/paper-button}} --}}
            {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
      Your sucessfully logged in!!!
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
      {{/card.actions}}

    {{/paper-card}}


</div>
</div>