
    {{partial 'head'}}
    {{#if showLogin}}
    <div class="signupContainer">
    <h2 id="head"><b><i>Sign up</i></b></h2>
     First Name
     {{validated-input  type="text" model=this  valuePath='firstname' placeholder="firstname" required=""}}
     Last Name
     {{validated-input  type="text" model=this  valuePath='lastname' placeholder="lastname" required=""}}
      Mobile Number
     {{validated-input  type="number" model=this  valuePath='mobilenumber' placeholder="number" required=""}}  
      D.O.B
     {{validated-input  type="" model=this  valuePath='DateOfBirth' placeholder="D.O.B" required=""}} 
      Email id 
     {{validated-input  type="email" model=this  valuePath='email' placeholder="E-mail" required="true"}}
      Password
      {{validated-input  type="password" model=this  valuePath='password' placeholder="password" required=""}}
      Re-type password
      {{validated-input  type="password" model=this  valuePath='password2' placeholder="Retype password" required=""}}
      <button type="button" id="myButton" class="btn btn-primary" style="margin-left: 2%;width: 40%;margin-bottom: -70px;" {{action "signup"}}>sign up</button>
    {{!-- <button class="btn" {{action "signup"}}>sign up</button> --}}
 </div>
 {{/if}}

