
<div class="container-fluid">
   <br>
    <div style="text-align:center;"><b>Timestamp</b></div>
   <br>
   <div class="container">
      <label>Request ID:</label>
     <div style="color:blue"> {{record.Key}}</div>
            <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
               <table>
                  <tr>
                     <td>User Request:</td>
                     <td style="padding:69px;padding-top: 1px;">Date:{{date}}</td>
                       <td style="padding:69px;padding-top: 1px;">Time:{{time}}</td>
                  </tr>
                  <br>
                    <tr>
                     <td>Bank Request for creditscore:</td>
                     <td style="padding:69px;padding-top: 1px;">Date:{{date1}}</td>
                       <td style="padding:69px;padding-top: 1px;">Time:{{time1}}</td>
                  </tr>
                  <br>
                   <tr>
                     <td>Credit response to bank:</td>
                      <td style="padding:69px;padding-top: 1px;">Date:{{date2}}</td>
                       <td style="padding:69px;padding-top: 1px;">Time:{{time2}}</td>
                  </tr>
                  <br>
                 <tr>
                     <td>Bank Request for legalverification:</td>
                      <td style="padding:69px;padding-top: 1px;">Date:{{date3}}</td>
                       <td style="padding:69px;padding-top: 1px;">Time:{{time3}}</td>
                  </tr>
                  <br>
                   <tr>
                     <td>Legalverification response to bank :</td>
                     <td style="padding:69px;padding-top: 1px;">Date:{{date5}}</td>
                       <td style="padding:69px;padding-top: 1px;">Time:{{time5}}</td>
                  </tr>
                  <br>
                   <tr>
                     <td>Loanschedule request to user :</td>
                     <td style="padding:69px;padding-top: 1px;">Date:{{date6}}</td>
                       <td style="padding:69px;padding-top: 1px;">Time:{{time6}}</td>
                  </tr>
                  <br>
                
    </table>
    </div>
    </div>
    </div>
    </div>
    