{{partial 'head'}}
{{#if ShowTimestamp}}

{{/if}}
<div class="container-fluid" style="background-color:">
   <br>
    <div class="jumbotron"  style="background-color:lightgrey">
    <div style="text-align:center;"><b>TIMESTAMP</b></div>

     </div>
   
   <div class="container">
    
      <div class="row" >
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
      <label>REQUEST ID: <i style="color:blue"> {{record.Key}}</i></label>
     </div>
     </div>
          <style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
            <div class="row" id="customers">
            <div class="col-xs-12 col-lg-12 col-md-12 col-sm-12">
               <table>
                  <tr>
                     <td> <label>User Request Generated:</label></td>
                     <td>Date:{{date}}</td>
                       <td>Time:{{time}}</td>
                  </tr>
                  <br>
                    <tr>
                     <td> <label>Bank Requested for creditscore:</label></td>
                     <td >Date:{{date1}}</td>
                       <td>Time:{{time1}}</td>
                  </tr>
                  <br>
                   <tr>
                     <td> <label>Credit response to bank:</label></td>
                      <td>Date:{{date2}}</td>
                       <td>Time:{{time2}}</td>
                  </tr>
                  <br>
                 <tr>
                     <td> <label>Bank Requested for legalverification:</label></td>
                      <td>Date:{{date3}}</td>
                       <td>Time:{{time3}}</td>
                  </tr>
                  <br>
                   <tr>
                     <td> <label>Legalverification response to bank :</label></td>
                     <td>Date:{{date5}}</td>
                       <td>Time:{{time5}}</td>
                  </tr>
                  <br>
                   <tr>
                     <td> <label>Loanschedule request to user :</label></td>
                     <td>Date:{{date6}}</td>
                       <td>Time:{{time6}}</td>
                  </tr>
                  <br>
                
    </table>
    </div>
    </div>
    </div>
    </div>
    