{{partial 'head'}}
{{#if showhome}}
<h2><b><i style="
    margin-left: -67px;
">APPLICATION OR REQUEST</i></b></h2> 

<div class="Container">
<div class="upload">
         <form >
            
                  <h3><b><i style="margin-left: -480px;">Upload Document</i></b></h3>
                   <div class="detail"><i style="margin-left: -480px;" >please fill your documents details?</i></div>
              
                <br>
                   <label >Id proof Document</label>
                       
                          
                               {{!--{{input type="file" value=file id="field19" }}--}}
                            {{validated-input  id="f1" type="file" model=this  valuePath='file' placeholder="" required=""}}
                           
                           
                   <br>
                                   <label > BannkStatement Document</label>
                       
                           {{validated-input  id="f1" type="file" model=this  valuePath='file1' placeholder="lastname" required=""}}
                           {{!--<span>{{input type="file"  value=file1}}</span>--}}
                           
                   <br>
                                 <label >Income tax return Document</label>
                                                <span>
                               {{validated-input  id="f1"  type="file" model=this  valuePath='file2' placeholder="lastname" required=""}}
                           {{!--{{input type="file" value=file2 }}--}}
                           </span>
                           
                   <br>
                 <label >Address proof Document</label>
                      
                           <span>
                               {{validated-input id="f1"  type="file" model=this  valuePath='file3' placeholder="lastname" required=""}}
                               {{!--{{input type="file" value=file3 }}--}}

                           </span>
                           
                   
                    <br>
                 <label>property Document</label>
                      
                           <span>
                               {{!--{{input type="file" value=file4}}--}}
                            {{validated-input id="f1"  type="file" model=this  valuePath='file4' placeholder="" required=""}}
                           </span>
                           
                    <br>
            <button class="btn" {{action "apply"}}>Apply</button>
         </form> 
</div>
</div>
{{/if}}