<br>
<br>
<br>
<div class="upload">
         <form >
              <section>
                  <h3><b><i>Upload Document</i></b></h3>
                   <div class="detail"><i>please fill your documents details?</i></div>
               </section>
               <li>
                   <label >Id proof Document</label>
                       <div>
                           <span>
                               {{!--{{input type="file" value=file id="field19" }}--}}
                            {{validated-input  id="f1" type="file" model=this  valuePath='file' placeholder="" required=""}}
                           </span>
                           </div>
                   </li>
                   <li>
                 <label > BannkStatement Document</label>
                       <div>
                           {{validated-input  id="f1" type="file" model=this  valuePath='file1' placeholder="lastname" required=""}}
                           {{!--<span>{{input type="file"  value=file1}}</span>--}}
                           </div>
                   </li>
                <li>
                 <label >Income tax return Document</label>
                       <div>
                           <span>
                               {{validated-input  id="f1"  type="file" model=this  valuePath='file2' placeholder="lastname" required=""}}
                           {{!--{{input type="file" value=file2 }}--}}
                           </span>
                           </div>
                   </li>
                    <li>
                 <label >Address proof Document</label>
                       <div>
                           <span>
                               {{validated-input id="f1"  type="file" model=this  valuePath='file3' placeholder="lastname" required=""}}
                               {{!--{{input type="file" value=file3 }}--}}

                           </span>
                           </div>
                   </li>
                    <li>
                 <label>property Document</label>
                       <div>
                           <span>
                               {{!--{{input type="file" value=file4}}--}}
                            {{validated-input id="f1"  type="file" model=this  valuePath='file4' placeholder="" required=""}}
                           </span>
                           </div>
                   </li>     
            <button {{action "apply"}}>Apply</button>
         </form>
</div>