{{partial 'head'}}
{{#if showDashboard}}
{{/if}}
<div class="container-fluid">
 
   <script>
      $(document).ready(function() {
          // Show or hide the sticky footer button
          $(window).scroll(function() {
              if ($(this).scrollTop() > 200) {
                  $('.go-top').fadeIn(200);
              } else {
                  $('.go-top').fadeOut(200);
              }
          });
          // Animate the scroll to top
          $('.go-top').click(function(event) {
              event.preventDefault();
              $('html, body').animate({
                  scrollTop: 0
              }, 300);
          });
         
      });
   </script>
   <br>
   <div class="container" >
      <h2 style="margin-left:12cm;"><b>USER REQUESTID</b></h2>
      <br>
      <br>
       <div class="row" style="">
   
   <div class="col-xs-3 col-lg-3 col-sm-3" style="background-color:lightcyan;"><i style="margin-left:5%">Request Id:</i><i id="req">{{record.Key}}</i></div>
   <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
      <div class="vl5">
         <div style="margin-left:8%">{{details.fname}}
         </div>
      </div>
   </div>
   <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
      <div class="vl5">
         <div style="margin-left:8%">{{details.propertyType}}</div>
      </div>
   </div>
   <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
      <div class="vl5">
         <div style="margin-left:8%">{{details.Company}}</div>
      </div>
   </div>
  

         <br>
         <br>
         <style>
            table, th, {
            border-width: thin;
            }
         </style>
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Personal information</div>
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Property information</div>
         </div>
         <br> 
         <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
               <table>
                  <tr>
                     <td>firstname:</td>
                     <td style="color:gray;">{{details.fname}}</td>
                  </tr>
                  <tr>
                     <td>lastname:</td>
                     <td style="color:gray;">{{details.lname}}</td>
                  </tr>
                  <tr>
                     <td>contact number:</td>
                     <td style="color:gray;">{{details.phone}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{details.country}}</td>
                  </tr>
                  <tr>
                     <td>occupation:</td>
                     <td style="color:gray;">{{details.occupation}}</td>
                  </tr>
                  <tr>
                     <td>income:</td>
                     <td style="color:gray;">{{details.income}}</td>
                  </tr>
               </table>
            </div>
            <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">
               <table>
                  <tr>
                     <td>mortgaugeType</td>
                     <td style="color:gray;">{{details.propertyType}}</td>
                  </tr>
                  <tr>
                     <td>Need Amount:</td>
                     <td style="color:gray;">{{details.amount}}</td>
                  </tr>
                  <tr>
                     <td>location</td>
                     <td style="color:gray;">{{details.location}}</td>
                  </tr>
                  <tr>
                     <td>price:</td>
                     <td style="color:gray;">{{details.price}}</td>
                  </tr>
                  <tr>
                     <td>country:</td>
                     <td style="color:gray;">{{details.country}}</td>
                  </tr>
                  <tr>
                     <td>paymentPercentage:</td>
                     <td style="color:gray;">{{details.paymentPercentage}}</td>
                  </tr>
                   <tr>
                     <td>creditscore:</td>
                     <td style="color:blue;">{{details.creditscore}}</td>
                  </tr>
                   <tr>
                     <td>Legal Property verified:</td>
                     <td style="color:blue;">{{details.legal}}</td> 
                  </tr>
               </table>
            </div>
         </div>
         <br>
         <br>
          <div style=" margin-top:1cm;">
     
         </div> 
         
      <div style=" margin-top:1cm;">
      <button type="button" class="btn btn-primary btn-block" disabled={{isApprove}} {{action "LegalValidater" record details}}>Get verify from legal validator</button>
         {{!-- <button  id="user-btn3" {{action "credit" records showrecords}}>Get verify from legal validator</button> --}}

{{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
         Your response has been successfully sent to legal validator...!!{{isLegalRequested}}
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay1" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
         </div>         
         <br> 
      <div style=" margin-top:1cm;">
      <button type="button" class="btn btn-primary btn-block"  disabled={{isApprove}} {{action "LoanApprove" record details}}> Approve Loan </button>
         <br>
         
       
{{#if showDialogApprove}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Your response has been successfully Approve...!!{{showDialogApprove}}
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay2" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
         </div>  
        
      <div style=" margin-top:1cm;">
      <button type="button" class="btn btn-primary btn-block" disabled={{isReject}} {{action "LegalValidaterRejected" record details}}>Reject</button>
      

{{#if showDialogForReject}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
         Loan has been rejected ...!!{{showDialogForReject}}
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
         </div>  
          <div style="background-color:lightgrey;">
             <h3>Time Stamp</h3>
         {{#if isLegalRequested}}
             <div class="row">
           <b>  Legal Veification Requested Time</b>
            </div>
          <div class="row">
            <div class="col-xs-6 col-lg-6 col-sm-6">
            Date:{{date}}
            </div>
             <div class="col-xs-6 col-lg-6 col-sm-6">
            Time{{time}}
            </div>
          
       </div>
       <br>
       <br>
       {{/if}}
       </div>    
         <br>
      </div>
   </div>
</div>

<a href="#" class="go-top">Scroll to Top</a>