{{partial 'head'}}
{{#if showLogin}}
{{/if}}
<div class="container-fluid" style="">
   <script>
      $(document).ready(function() {
          // Show or hide the sticky footer button
          $(window).scroll(function() {
              if ($(this).scrollTop() > 200) {
                  $('.go-top').fadeIn(200);
              } else {
                  $('.go-top').fadeOut(200);
              }
          });
          // Animate the scroll to top
          $('.go-top').click(function(event) {
              event.preventDefault();
              $('html, body').animate({
                  scrollTop: 0
              }, 300);
          });
         
      });
   </script>
   <br>
   <div class="container">
      <br>
      <br>
      <br>
      <b style="margin-left:12cm;"><em>USER DETAILS</em></b>
      <br>
      <br>
      <div class="row" style="">
         <div class="col-xs-3 col-lg-3 col-sm-3" style="background-color:lightcyan;"><i style="margin-left:5%">RequestId:</i><i id="req">{{lastdetails.requestid}}</i></div>
         <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
            <div class="vl5">
               <div style="margin-left:8%"><i style="margin-left:5%">First Name:</i>{{lastdetails.fname}}
               </div>
            </div>
         </div>
         <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
            <div class="vl5">
               <div style="margin-left:8%"><i style="margin-left:5%">Property Type:</i>{{lastdetails.propertyType}}</div>
            </div>
         </div>
         <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3" style="background-color:lightcyan;">
            <div class="vl5">
               <div style="margin-left:8%"><i style="margin-left:5%">Loan :</i>{{lastdetails.amount}}</div>
            </div>
         </div>
      </div>
      <br>
      <br>
      <style>
         table, th, {
         border-width: thin;
         }
      </style>
      {{!-- ro1 --}}
      <div class="row">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Personal Information</div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="background-color:grey;">Property Information</div>
      </div>
      {{!-- ro1 --}}
      <br> 
      {{!-- r2 --}}
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
            {{!-- {{#each record.Record.transactionlist   as |item1|}} --}}
            <table>
               <tr>
                  <td>First Name:</td>
                  <td style="color:gray;">{{lastdetails.fname}}</td>
               </tr>
               <tr>
                  <td>Last Name:</td>
                  <td style="color:gray;">{{lastdetails.lname}}</td>
               </tr>
               <tr>
                  <td>Mobile Number:</td>
                  <td style="color:gray;">{{lastdetails.phone}}</td>
               </tr>
               <tr>
                  <td>Country:</td>
                  <td style="color:gray;">{{lastdetails.country}}</td>
               </tr>
               <tr>
                  <td>Occupation:</td>
                  <td style="color:gray;">{{lastdetails.occupation}}</td>
               </tr>
               {{!-- <tr>
                  <td>Income:</td>
                  <td style="color:gray;">{{lastdetails.income}}</td>
               </tr> --}}
            </table>
            {{!-- {{/each}} --}}
         </div>
         <div class= "col-xs-6 col-lg-6 col-md-6 col-sm-6 ">
            {{!-- {{#each record.Record.transactionlist   as |item1|}} --}}
            <table>
               <tr>
                  <td>Mortgage Type:</td>
                  <td style="color:gray;">{{lastdetails.propertyType}}</td>
               </tr>
               <tr>
                  <td>Need Amount:</td>
                  <td style="color:gray;">{{lastdetails.amount}}</td>
               </tr>
               <tr>
                  <td>Location:</td>
                  <td style="color:gray;">{{lastdetails.location}}</td>
               </tr>
               {{!-- 
               <tr>
                  <td>Price:</td>
                  <td style="color:gray;">{{lastdetails.price}}</td>
               </tr>
               --}}
               <tr>
                  <td>Country:</td>
                  <td style="color:gray;">{{lastdetails.country}}</td>
               </tr>
               {{!-- 
               <tr>
                  <td>PaymentPercentage:</td>
                  <td style="color:gray;">{{lastdetails.paymentPercentage}}</td>
               </tr>
               --}}
            </table>
            {{!-- {{/each}} --}}
         </div>
      </div>
      {{!-- r2 --}}
      {{!-- r3 --}}
      <div style=" margin-top:1cm;">
         <button type="button" class="btn btn-primary btn-block" disabled={{isDetailsDisableButton}} {{action "credit" record lastdetails}}>Get Credit Score</button>
         <div style="background-color:lightgrey;">
            <h3>Data Published Date & Time</h3>
            {{#if isCreditRequested}}
            <div class="row">
               <b> Requested For Creditscore Time</b>
            </div>
            <div class="row">
               <div class="col-xs-6 col-lg-6 col-sm-6">
                  Date:{{date}}
               </div>
               <div class="col-xs-6 col-lg-6 col-sm-6">
                  Time:{{time}}
               </div>
               <br>
               <br>
            </div>
            {{/if}}
         </div>
         {{#if showDialog}}
         {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
         {{#paper-toolbar}}
         {{#paper-toolbar-tools}}
         Your Response Has Been Successfully Sent To Creditscore Validator...!!
         {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
         {{/paper-toolbar-tools}}
         {{/paper-toolbar}}
         {{#paper-dialog-actions class="layout-row"}}
         {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
         {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
         {{/paper-dialog-actions}}
         {{/paper-dialog}}
         {{/if}} 
         <br>
         <br>
      </div>
   </div>
   {{!-- r3 --}}
</div>
<a href="#" class="go-top">Scroll to Top</a>