{{partial 'head'}}
{{#if showUserSchedule}}
{{/if}}
<div class="container-fluid">
   <br>
    <div style="margin-left:14cm;"><b>Loan Quotation</b></div>
   <br>
   <div class="container" style="background-color:Lavender ">
     <br>
     <br>
     <div class="row" style="">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
      <label>Request iD:</label>
      </div>
        {{!-- <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style=""> --}}
        <i style="color:blue; margin-left:-11cm;"> {{record.Key}}</i>
         {{!-- </div> --}}
         </div>
         <br>
          <div class="row" style="">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         <label>Loan amount in Rs:</label>
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         {{details.loanamount}}
         </div>
         </div>
         <br>
          <div class="row" style="">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         <label>Loan terms:</label>
         </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
           {{details.loanterms}}
           </div>
           </div>
         <br>
         <div class="row" style="">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         <label>Annual interest rate:</label>
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         {{details.amountinterestrate}} 
         </div>
         </div>
         <br>
           <div class="row" style="">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         <label>Payment per year:</label>
         </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
           {{details.paymentperyear}}
           </div>
           </div>
         <br>
            <div class="row" style="">
        <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         <label>Installment per month:</label>
         </div>
          <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
         {{details.installmentpermonth}}
         </div> 
         </div>
         <br>
      <br>
      <br>
       
        <div style="margin-top:0cm;">
      <button type="button" class="btn btn-primary btn-block"{{action "userschedule" record.Key details}}> agree & next</button>   
{{!-- <button type="button" id="myButton" class="btn btn-primary" {{action "userschedule" record.Key details}}>
         agree & next
         </button> --}}
          {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Loan has been successfully accepted ...!! 
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
</div>
      
       <div style="background-color:lightgrey;">
             <h3>Time Stamp</h3>
         {{#if isLoanSchedule}}
             <div class="row">
           <b>  Legal Veification Requested Time</b>
            </div>
          <div class="row">
            <div class="col-xs-6 col-lg-6 col-sm-6">
            Date:{{date}}
            </div>
             <div class="col-xs-6 col-lg-6 col-sm-6">
            Time{{time}}
            </div>
        
        
       </div>
       <br>
       <br>
       {{/if}}
       </div>
   </div>
</div>
