{{partial 'head'}}
{{#if showUserSchedule}}
{{/if}}
<div class="container-fluid">
   <br>
    <div style="text-align:center;"><b>Loan Schedule</b></div>
   <br>
   <div class="container">
      <label>Request ID:</label>
     <div style="color:blue"> {{record.Key}}</div>
   
        
         <br>
         <label>Loan Amount in Rs:{{details.loanamount}}</label>
         <br>
         <label>Loan Terms:{{details.loanterms}}</label>
         <br>
         <label>Annual Interest Rate:{{details.amountinterestrate}} </label>
         <br>
       
         <label>Payment Per Year:{{details.paymentperyear}}</label>
         <br>
         <label>Installment per month:{{details.installmentpermonth}}</label> 
         <br>
      <br>
      <br>
      <br>
      <br>
      
<button type="button" id="myButton" class="btn btn-primary" {{action "userschedule" record.Key details}}>
         agree & next
         </button>
          {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Loan has been successfully accepted ...!! 
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
         <br>
         <br>
      
    
   </div>
</div>
