

   
   <p style="text-align:center;color:#808080 "><b>UserRequestid</b></p>


      <i style="margin-left:70px;">Request Id:</i><i id="req" style="color:black">{{records}}</i>
     
      <br>
      <br>
      <br>
      
         <style>
            table, th, {
            border-width: thin;
             }
           </style>
            <h1 id="data">Personal information</h1>   
           <div class="table-block">
 
 <table>
    
    <tr>
    <td>firstname:</td>
    <td style="color:black;">{{showrecords.fname}}</td>
  </tr>
    <tr>
    <td>lastname:</td>
    <td style="color:black;">{{showrecords.lname}}</td>
  </tr>
    <tr>
    <td>contact number:</td>
    <td style="color:black;">{{showrecords.phone}}</td>
  </tr>
   <tr>
    <td>country:</td>
    <td style="color:black;">{{showrecords.country}}</td>
  </tr>
   <tr>
    <td>occupation:</td>
    <td style="color:black;">{{showrecords.occupation}}</td>
  </tr>
   <tr>
    <td>income:</td>
    <td style="color:black;">{{showrecords.income}}</td>
  </tr>
</table>
 
 {{!-- <button  id="user-btn" {{action "details"}}>Request More Details</button> --}}

  </div>
    <div class="division">
    <h1 id="data2">Property information</h1>   
    <div class="table2-block">
      
 <table> 
    <tr>
    <td>mortgaugeType</td>
    <td style="color:black;">{{showrecords.propertyType}}</td>
   </tr>
    <tr>
    <td>Need Amount:</td>
    <td style="color:black;">{{showrecords.amount}}</td>
  </tr>
  <tr>
    <td>location</td>
    <td style="color:black;">{{showrecords.location}}</td>
  </tr>
   <tr>
    <td>price:</td>
    <td style="color:black;">{{showrecords.price}}</td>
  </tr>
   <tr>
    <td>country:</td>
    <td style="color:black;">{{showrecords.country}}</td>
  </tr>
   <tr>
    <td>paymentPercentage:</td>
    <td style="color:black;">{{showrecords.paymentPercentage}}</td>
  </tr>

  </table>
 
  <button  id="user-btn3" {{action "credit" records showrecords}}>Get verify from legal validator</button>

{{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Your response has been successfully sent to legal validator...!!
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
   {{!-- {{#if showCredit}}
   Creditscore For RequestID:<i style="color:#69f;">{{loanID.requestid}}</i><br>
   Credit Score:<i style="color:#69f;">{{creditscore}}</i>
   {{/if}} --}}
  {{!-- <button  id="user-btn" {{action "Approve"}}>Approve</button>
  {{!-- start --}}
            {{!-- {{#if isShowSCheduleLoan}}
             {{#modal-dialog onClose="Approve"
                  targetAttachment="center"
                  translucentOverlay=true}}
                succefully Approved Loan!!
    <button class="btn" {{action "Schedule" }}>Schedule</button>{{isShowSCheduleLoan}}
    {{/modal-dialog}}
    {{/if}} --}}
   {{!-- <button  id="user-btn" {{action "Rejected"}}>Rejected</button>
             {{#if isShowReject}}
             {{#modal-dialog onClose="Rejected"
                  targetAttachment="center"
                  translucentOverlay=true}}
                 Loan Rejected!!
    {{/modal-dialog}}
    {{/if}} --}}
   </div>
   </div>
 
  

  
<a href="#" class="go-top">Scroll to Top</a>