{{partial 'head'}}
{{#if showUserSchedule}}
{{/if}}
<br>
<br>
<div class="jumbotron">
   <div class="container" style="background-color:Lavender ">
      <h2 style="text-align:left;"><b>Loan Quotation</b></h2>
      <br>
      {{#if IsAlreadyDone}}
      <div class="alert alert-info">
         <strong>Info!</strong>Already made decision.
      </div>
      {{/if}}
      <br>
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            <label>RequestID:</label>
         </div>
            <i style="color:blue; margin-left:-11cm;"> {{record.Records.requestid}}</i>
      </div>
      <br>
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            <label>Amount Of The Loan:</label>
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            {{record.Records.loanamount}}Rs
         </div>
      </div>
      <br>
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            <label>Repayment Period In Months:</label>
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            {{record.Records.loanterms}} months
         </div>
      </div>
      <br>
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            <label>Annual Rate Of Interest:</label>
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            {{record.Records.amountinterestrate}} %
         </div>
      </div>
      <br>
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            <label>Monthly(EMI) Payment:</label>
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            {{record.Records.emi}} Rs
         </div>
      </div>
      <br>
      <div class="row" style="">
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            <label>Total Payment:</label>
         </div>
         <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6" style="">
            {{record.Records.tot}} Rs
         </div>
      </div>
      <br>
      <br>
      <br>
      
      <div style="margin-top:0cm;">
         <button type="button" class="btn btn-primary btn-block" disabled={{IsAlreadyDone}} {{action "userschedule" record}}> agree & next</button>   
         <br>
         <br>
         <small>Click Here For Applying Preclosure Request</small>
         <button type="button" id="myButton" class="btn btn-primary btn-block" disabled={{DisablePrecoleButton}} {{action "gotoPreclose" item}}>Pre-closure</button>
         {{#if showDialog}}
         {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
         {{#paper-toolbar}}
         {{#paper-toolbar-tools}}
         Loan Has Been Successfully Accepted ...!! 
         {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
         {{/paper-toolbar-tools}}
         {{/paper-toolbar}}
         {{#paper-dialog-actions class="layout-row"}}
         {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
         {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
         {{/paper-dialog-actions}}
         {{/paper-dialog}}
         {{/if}}
      </div>
     <br>
     <br>
   </div>
   
</div>