{{partial 'head'}}
{{#if showUserSchedule}}
{{/if}}
<div class="container-fluid">
   <br>
    <div style="text-align:center;"><b>Loan Schedule</b></div>
   <br>
   <div class="container">
      <label>Request ID:</label>
     <div style="color:blue"> {{record.Key}}</div>
            <div class="row">
            <div class="col-xs-6 col-lg-6 col-md-6 col-sm-6">
               <table>
                  <tr>
                     <td>Loan amount in Rs:</td>
                     <td style="color:gray;">{{details.loanamount}}</td>
                  </tr>
                    <tr>
                     <td>Loan terms:</td>
                     <td style="color:gray;">{{details.loanterms}}</td>
                  </tr>
                   <tr>
                     <td>Annual interest rate:</td>
                     <td style="color:gray;">{{details.amountinterestrate}}</td>
                  </tr>
                 <tr>
                     <td>Payment per year:</td>
                     <td style="color:gray;">{{details.paymentperyear}}</td>
                  </tr>
                   <tr>
                     <td>Installment per month:</td>
                     <td style="color:gray;">{{details.installmentpermonth}}</td>
                  </tr>
    </table>
    </div>
    </div>
      <br>
      <br>
      
<button type="button" id="myButton" class="btn btn-primary" {{action "userschedule" record.Key details}}>
         Agree & next
         </button>
          {{#if showDialog}}
  {{#paper-dialog class="flex-77" onClose=(action "closeDialog" "cancel") origin=dialogOrigin clickOutsideToClose=true}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        Loan has been successfully accepted ...!! 
        {{#paper-button iconButton=true onClick=(action "closeDialog" "cancel")}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

   
    {{#paper-dialog-actions class="layout-row"}}
      {{#paper-button onClick=(action "closeDialog" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button onClick=(action "okay" "ok")}}OK{{/paper-button}}
    {{/paper-dialog-actions}}
  {{/paper-dialog}}
{{/if}}
         <br>
         <br>
      
    
   </div>
</div>
